.description {
  margin: 20px 0;
  // .description__small
  padding: 0 15px;
  text-align: center;
  &__small {
    color: #899ea7;
    p {
      margin: 0;
      text-transform: uppercase;
    }
  }

  // .description__big

  &__big {
    margin: 10px 0;
    @include adaptiv-font(60, 20);
    h2 {
      font-size: inherit;
      margin: 0;
    }
  }
}
