<header class="header">
  <div class="header__wrap">
    <div class="header__logo">
      <a href="index.html"><img src="img/mainpage/logo.png" alt="Логотип"></a>
    </div>
    <nav class="header__nav">
      <ul class="header__list">
        <li><a href="index.html">Главная</a></li>
        <li><a href="about.html">О нас</a></li>
        <li><a href="#">Портфолио</a></li>
        <li><a href="#">Страницы</a></li>
        <li><a href="#">Блог</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <div class="header__other">
      <div class="header__icons header__lang lang">
        <div class="dropdown">
          <div class="btn">
            <img src="img/mainpage/lang-ru.png" alt="Выбрать язык">
            <button>Ru</button>
          </div>
          <ul class="dropdown-options">
            <li class="option">
              <a href="#">Ru</a>
            </li>
            <li class="option">
              <a href="#">En</a>
            </li>
            <li class="option">
              <a href="#">Uk</a>
            </li>
          </ul>
        </div>
      </div>
      <span class="header__icons header__purchase purchase" data-da=".header__list-mobile,640,last">
        <a href=" #">
          <img src="img/mainpage/cart.png" alt="">
          <span>3</span>
        </a>
      </span>
      <div class="header__icons header__search search">

        <div class="search-box" data-da=".header__list-mobile,640,0">
          <input class="search-txt" id="search-txt" type="text" name="" placeholder="Поиск">
          <a class="search-btn" id="search-btn" href="#">
            <img src="img/mainpage/search.png" alt="">
          </a>
        </div>

      </div>
      <div class="header__burger" id="header__burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="header__layout header__layout-1"></div>
  <div class="header__layout header__layout-2"></div>
  <div class="header__layout header__layout-3"></div>
  <ul class="header__list-mobile" id="header__list-mobile">
    <li><a href="index.html">Главная</a></li>
    <li><a href="about.html">О нас</a></li>
    <li><a href="#">Портфолио</a></li>
    <li><a href="#">Страницы</a></li>
    <li><a href="#">Блог</a></li>
    <li><a href="#">Контакты</a></li>
  </ul>
  </nav>
</header>