<section class="top-content">
    <div class="top-content__layout">
        <div class="top-content__shadow">
            <img src="img/mainpage/head-layout/shadow.png" alt="">
        </div>
        <div class="top-content__bg">
            <img src="img/mainpage/head-layout/imagebg.png" alt="">
        </div>
        <div class="top-content__items">
            <ul class="top-content__items-list">
                <li data-depth="0.05" class="top-content__item top-content__item-1"><img
                        src="img/mainpage/head-layout/left-item-bg.png" alt=""></li>
                <li data-depth="0.03" class="top-content__item top-content__item-2"><img
                        src="img/mainpage/head-layout/right-item-bg.png" alt=""></li>
                <li data-depth="0.1" class="top-content__item top-content__item-3"><img
                        src="img/mainpage/head-layout/item-bg.png" alt=""></li>
            </ul>
        </div>
        <div class="top-content__scene">
            <ul class="top-content__stars">
                <li data-depth="-.5" class="top-content__star star-1"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.4" class="top-content__star star-2"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="-.3" class="top-content__star star-3"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.2" class="top-content__star star-4"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.3" class="top-content__star star-5"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="-.1" class="top-content__star star-6"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.3" class="top-content__star star-7"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="-.3" class="top-content__star star-8"><img src="img/mainpage/head-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.4" class="top-content__star star-9"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="-.3" class="top-content__star star-10"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.2" class="top-content__star star-11"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="-.3" class="top-content__star star-12"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.2" class="top-content__star star-13"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.3" class="top-content__star star-14"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="-.3" class="top-content__star star-15"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.4" class="top-content__star star-16"><img src="img/mainpage/head-layout/b-star.png"
                        alt=""></li>
            </ul>
        </div>
    </div>
    <div class="top-content__row">
        <div class="top-content__col">
            <img src="img/mainpage/head-img.png" alt="">
        </div>
        <div class="top-content__col">
            <h1>Создаём дизайн и многое другое</h1>
            <p>Проведём маркетинговое исследование и разработает лучшие дизайнерские решения для продвижения и улучшения
                вашего бизнеса</p>
            <a class="custom-button top-content__btn" href="#">Узнать как</a>
        </div>
    </div>
</section>
<section class="vendors vendors-main">
    <div class="container">
        <ul class="vendors__wrap">
            <li class="wow fadeInDown" data-wow-delay="0.2s"><a href="#"><img src="img/mainpage/vendor-1.png"
                        alt=""></a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.4s"><a href="#"><img src="img/mainpage/vendor-2.png"
                        alt=""></a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.6s"><a href="#"><img src="img/mainpage/vendor-3.png"
                        alt=""></a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="0.8s"><a href="#"><img src="img/mainpage/vendor-4.png"
                        alt=""></a>
            </li>
            <li class="wow fadeInDown" data-wow-delay="1s"><a href="#"><img src="img/mainpage/vendor-5.png" alt=""></a>
            </li>
        </ul>
    </div>
</section>
<section class="description">
    <div class="description__small wow fadeInLeft" data-wow-delay="0.6s">
        <p>РАБОЧИЙ ПРОЦЕСС И ПРОГРЕСС</p>
    </div>
    <div class="description__big wow fadeInRight" data-wow-delay="0.8s">
        <h2>Эти шаги повысят вашу производительность</h2>
    </div>
</section>
<section class="steps">
    <div class="container">
        <div class="steps__row">
            <div class="steps__col wow fadeInDown" data-wow-delay="0.3s">
                <img src="img/mainpage/step-1.png" alt="">
                <p class="steps__descr">План и стратегия</p>
                <p class="steps__text">
                    Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Не, там.
                </p>
            </div>
            <div class="steps__col wow fadeInDown" data-wow-delay="0.6s">
                <img src="img/mainpage/step-2.png" alt="">
                <p class="steps__descr">Спринт-дизайн</p>
                <p class="steps__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                    тексты. Не, там.</p>
            </div>
            <div class="steps__col wow fadeInDown" data-wow-delay="0.9s">
                <img src="img/mainpage/step-3.png" alt="">
                <p class="steps__descr">Синхронизация ваших файлов</p>
                <p class="steps__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                    тексты. Не, там.</p>
            </div>
        </div>
    </div>
</section>
<section class="our-services">
    <div class="our-services__image wow bounceInLeft" data-wow-delay="0.5s">
        <img src="img/mainpage/services-img-1.png" alt="">
    </div>
    <div class="our-services__content">
        <div class="our-services__body">
            <div class="our-services__descr wow fadeInUp" data-wow-delay="0.4s">Наши услуги</div>
            <h1 class="our-services__title wow fadeInRight" data-wow-delay="0.6s">Постройте свой бизнес
                с правильным планом</h1>
            <div class="our-services__text wow fadeInLeft" data-wow-delay="0.8s">
                Далеко-далеко за словесными горами в стране гласных и согласных, живут рыбные тексты. Рот даже
                курсивных, вскоре, решила вершину великий предложения рекламных вопрос сих ты своих деревни дал ее
                всеми! Переписали, заголовок скатился!
            </div>
            <a class="custom-button wow fadeInUp" data-wow-delay="1s" href="#">Подробнее</a>
        </div>
    </div>
</section>
<section class="our-services our-services-left">
    <div class="our-services__content">
        <div class="our-services__body">
            <div class="our-services__descr wow fadeInUp" data-wow-delay="0.4s">Наши услуги</div>
            <h1 class="our-services__title wow fadeInLeft" data-wow-delay="0.6s">Проверьте свои собственные
                процесс разработки</h1>
            <div class="our-services__text wow fadeInRight" data-wow-delay="0.8s">
                Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Буквенных алфавит
                лучше осталось пор текста переписали меня. Заглавных предупреждал жаренные злых безорфографичный дал он!
                Безорфографичный толку мир бросил своего.
            </div>
            <a class="custom-button wow fadeInUp" data-wow-delay="1s" href="#">Подробнее</a>
        </div>
    </div>
    <div class="our-services__image wow bounceInRight" data-wow-delay="0.5s">
        <img src="img/mainpage/services-img-2.png" alt="">
    </div>
</section>
<section class="portfolio">
    <div class="container">
        <div class="portfolio__subtitle wow fadeInLeft" data-wow-delay="0.6s">Примеры работ</div>
        <div class="portfolio__content">
            <div class="portfolio__title wow fadeInLeft" data-wow-delay="0.8s">
                <h3>Наше Портфолио</h3>
            </div>
            <div class="portfolio__filters">
                <ul class="portfolio__list">
                    <li class=" wow fadeInUp" data-wow-delay="0.2s _active" data-filter="">Все</li>
                    <li class=" wow fadeInUp" data-wow-delay="0.4s" data-filter=".filter1">Веб-дизайн</li>
                    <li class=" wow fadeInUp" data-wow-delay="0.6s" data-filter=".filter2">СЕО</li>
                    <li class=" wow fadeInUp" data-wow-delay="0.8s" data-filter=".filter3">Брендинг</li>
                    <li class=" wow fadeInUp" data-wow-delay="1s" data-filter=".filter4">Разработка</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="portfolio__slider swiper-container wow fadeIn" data-wow-delay="0.5s">
        <div class="portfolio__wrapper swiper-wrapper">
            <div class="portfolio__box swiper-slide filter1">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-1.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter2">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-2.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter3">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-3.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter4">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-4.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr _active">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter1">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-5.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter2">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-6.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter2">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-2.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter2">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-4.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter2">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-3.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter2">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-1.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter3">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-2.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter3">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-3.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter3">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-4.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter3">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-5.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter3">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-6.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter4">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-2.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter4">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-4.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
            <div class="portfolio__box swiper-slide filter4">
                <div class="portfolio__img">
                    <img class="swiper-lazy" data-src="img/mainpage/portfolio/item-3.jpg" src="img/lz.png"
                        alt="Картинка" />
                    <div class="swiper-lazy-preloader"></div>
                </div>
                <div class="portfolio__descr">
                    <div class="portfolio__text">
                        <div class="portfolio__text-top">Потрясающая работа</div>
                        <div class="portfolio__text-bot">Иллюстрация</div>
                    </div>
                    <a href="#" class="portfolio__show"></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="description">
    <div class="description__small wow fadeInLeft" data-wow-delay="0.6s">
        <p>Вот что мы можем</p>
    </div>
    <div class="description__big wow fadeInRight" data-wow-delay="0.8s">
        <h2>Мы верим в лучшие решения</h2>
    </div>
</section>
<section class="skills">
    <div class="container">
        <div class="skills__items">
            <div class="skills__item wow zoomIn" data-wow-delay="0.2s">
                <span class="skills__num">01</span>
                <div class="skills__img">
                    <img src="img/mainpage/skills-1.png" alt="">
                </div>
                <div class="skills__descr">Дружелюбный опыт</div>
                <div class="skills__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                    тексты. Своих, ему? Напоивший проектах языком, запятых путь продолжил себя рекламных страна решила
                    журчит рыбными рукопись эта вопроса наш силуэт текстами!</div>
            </div>
            <div class="skills__item wow zoomIn" data-wow-delay="0.4s">
                <span class="skills__num">02</span>
                <div class="skills__img">
                    <img src="img/mainpage/skills-2.png" alt="">
                </div>
                <div class="skills__descr">Дружелюбный опыт</div>
                <div class="skills__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                    тексты. Своих, ему? Напоивший проектах языком, запятых путь продолжил себя рекламных страна решила
                    журчит рыбными рукопись эта вопроса наш силуэт текстами!</div>
            </div>
            <div class="skills__item wow zoomIn" data-wow-delay="0.6s">
                <span class="skills__num">03</span>
                <div class="skills__img">
                    <img src="img/mainpage/skills-3.png" alt="">
                </div>
                <div class="skills__descr">Дружелюбный опыт</div>
                <div class="skills__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                    тексты. Своих, ему? Напоивший проектах языком, запятых путь продолжил себя рекламных страна решила
                    журчит рыбными рукопись эта вопроса наш силуэт текстами!</div>
            </div>
            <div class="skills__item wow zoomIn" data-wow-delay="0.8s">
                <span class="skills__num">04</span>
                <div class="skills__img">
                    <img src="img/mainpage/skills-4.png" alt="">
                </div>
                <div class="skills__descr">Дружелюбный опыт</div>
                <div class="skills__text">Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные
                    тексты. Своих, ему? Напоивший проектах языком, запятых путь продолжил себя рекламных страна решила
                    журчит рыбными рукопись эта вопроса наш силуэт текстами!</div>
            </div>
        </div>
    </div>
</section>
<section class="reviews">
    <div class="reviews__layout">
        <div class="reviews__shadow-back wow fadeIn" data-wow-delay="0.6s">
            <img src="img/mainpage/bot-layout/bg-shadow-back.png" alt="">
        </div>
        <div class="reviews__shadow wow fadeIn" data-wow-delay="0.8s">
            <img src="img/mainpage/bot-layout/bg-shadow.png" alt="">
        </div>
        <div class="reviews__bg wow fadeIn" data-wow-delay="1s">
            <img src="img/mainpage/bot-layout/bg.png" alt="">
        </div>
        <div class="reviews__items wow fadeIn" data-wow-delay="1.2s">
            <img class="reviews__item" src="img/mainpage/bot-layout/bot-item-bg.png" alt="">
        </div>
        <div class="reviews__stars-scene">
            <ul class="reviews__stars wow fadeIn" data-wow-delay="1.4s">
                <li data-depth="-.2" class="reviews__star reviews__star-1"><img src="img/mainpage/bot-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.3" class="reviews__star reviews__star-2"><img src="img/mainpage/bot-layout/s-star.png"
                        alt=""></li>
                <li data-depth="-.2" class="reviews__star reviews__star-3"><img src="img/mainpage/bot-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.2" class="reviews__star reviews__star-4"><img src="img/mainpage/bot-layout/s-star.png"
                        alt=""></li>
                <li data-depth="0.2" class="reviews__star reviews__star-5"><img src="img/mainpage/bot-layout/s-star.png"
                        alt=""></li>
                <li data-depth="-.4" class="reviews__star reviews__star-6"><img src="img/mainpage/bot-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.2" class="reviews__star reviews__star-7"><img src="img/mainpage/bot-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.3" class="reviews__star reviews__star-8"><img src="img/mainpage/bot-layout/b-star.png"
                        alt=""></li>
                <li data-depth="-.2" class="reviews__star reviews__star-9"><img src="img/mainpage/bot-layout/b-star.png"
                        alt=""></li>
                <li data-depth="0.5" class="reviews__star reviews__star-10"><img
                        src="img/mainpage/bot-layout/b-star.png" alt=""></li>
                <li data-depth="0.2" class="reviews__star reviews__star-11"><img
                        src="img/mainpage/bot-layout/b-star.png" alt=""></li>
                <li data-depth="-.3" class="reviews__star reviews__star-12"><img
                        src="img/mainpage/bot-layout/b-star.png" alt=""></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="reviews__content">
            <div class="reviews__wrap">
                <div class="reviews__inner">
                    <div class="reviews__descr wow fadeInLeft" data-wow-delay="1.6s">Отзывы</div>
                    <div class="reviews__title wow fadeInLeft" data-wow-delay="1.8s">Что говорят наши клиенты</div>
                    <a class="custom-button reviews__btn wow fadeInUp" data-wow-delay="2s" href="#">Стать партнёром</a>
                </div>
                <div class="reviews__slider swiper-container wow fadeInRight" data-wow-delay="2.2s">
                    <div class="reviews__wrapper swiper-wrapper">
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__top">
                                <div class="reviews__mark">
                                    <img src="img/mainpage/mark.png" alt="">
                                </div>
                                <div class="reviews__text">Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Маленький ipsum которое маленькая правилами
                                    возвращайся предупреждал. Не продолжил дороге которой, своего маленькая жизни
                                    буквоград меня вопроса, семь себя большой.
                                </div>
                            </div>
                            <div class="reviews__bot">
                                <div class="reviews__img">
                                    <img src="img/mainpage/rew-ppl.jpg" alt="">
                                </div>
                                <div class="reviews__info">
                                    <div class="reviews__name">Марк Истов</div>
                                    <ul class="reviews__social">
                                        <li class="reviews__social-vk"><a href="#"><i class="fab fa-vk"></i></a></li>
                                        <li class="reviews__social-fb"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="reviews__social-inst"><a href="#"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__top">
                                <div class="reviews__mark">
                                    <img src="img/mainpage/mark.png" alt="">
                                </div>
                                <div class="reviews__text">“Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.”
                                </div>
                            </div>
                            <div class="reviews__bot">
                                <div class="reviews__img">
                                    <img src="img/mainpage/rew-ppl-2.jpg" alt="">
                                </div>
                                <div class="reviews__info">
                                    <div class="reviews__name">Антон Кузин</div>
                                    <ul class="reviews__social">
                                        <li class="reviews__social-vk"><a href="#"><i class="fab fa-vk"></i></a></li>
                                        <li class="reviews__social-fb"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="reviews__social-inst"><a href="#"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__top">
                                <div class="reviews__mark">
                                    <img src="img/mainpage/mark.png" alt="">
                                </div>
                                <div class="reviews__text">“Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.”
                                </div>
                            </div>
                            <div class="reviews__bot">
                                <div class="reviews__img">
                                    <img src="img/mainpage/rew-ppl-3.jpg" alt="">
                                </div>
                                <div class="reviews__info">
                                    <div class="reviews__name">Света Якина</div>
                                    <ul class="reviews__social">
                                        <li class="reviews__social-vk"><a href="#"><i class="fab fa-vk"></i></a></li>
                                        <li class="reviews__social-fb"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="reviews__social-inst"><a href="#"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="reviews__slide swiper-slide">
                            <div class="reviews__top">
                                <div class="reviews__mark">
                                    <img src="img/mainpage/mark.png" alt="">
                                </div>
                                <div class="reviews__text">“Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.Далеко-далеко за словесными горами в стране гласных и
                                    согласных живут рыбные тексты. Свой приставка вопроса мир единственное бросил свое
                                    первую семантика жизни заглавных образ снова рыбного вершину, не от всех что знаках
                                    предложения.”
                                </div>
                            </div>
                            <div class="reviews__bot">
                                <div class="reviews__img">
                                    <img src="img/mainpage/rew-ppl-4.jpg" alt="">
                                </div>
                                <div class="reviews__info">
                                    <div class="reviews__name">Антонина Нинина</div>
                                    <ul class="reviews__social">
                                        <li class="reviews__social-vk"><a href="#"><i class="fab fa-vk"></i></a></li>
                                        <li class="reviews__social-fb"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li class="reviews__social-inst"><a href="#"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>