@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/segoeui.eot");
  src: local("☺"), url("../fonts/segoeui.woff") format("woff"),
    url("../fonts/segoeui.ttf") format("truetype"),
    url("../fonts/segoeui.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/segoeuib.eot");
  src: local("☺"), url("../fonts/segoeuib.woff") format("woff"),
    url("../fonts/segoeuib.ttf") format("truetype"),
    url("../fonts/segoeuib.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Playfair";
  src: url("../fonts/Playfair Display Bold.eot");
  src: local("☺"), url("../fonts/Playfair Display Bold.woff") format("woff"),
    url("../fonts/Playfair Display Bold.ttf") format("truetype"),
    url("../fonts/Playfair Display Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
